<div class="container bg-light" style="margin-top: 50px;">
  <h2 class="pt-3" style="text-align: center;">Newly Added Products</h2>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Discription</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr>
        <th scope="row">{{productName}}</th>
        {{!-- <td>{{this.Product_id}}</td> --}}
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td> <img style="height: 50px; width:50px" src="/images/product/{{_id}}.jpg" alt=""> </td>
        <td>{{sellerName}}</td>
        <td>{{status}}</td>
        <td>
          <a class="btn btn-success" href="/approve-product/{{_id}}">Approve</a>
          <a class="btn btn-danger" href="/reject-product/{{_id}}">Reject</a>
        </td>
        <td>
          <a href="/deleteProduct/{{_id}}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
  <div class="row">
  </div>
</div>

  <div class="row">
  </div>
</div>